:root {
  --bg: #f7f7f8;
  --card: #ffffff;
  --text: #111827;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: var(--bg);
  color: var(--text);
  font-family: system-ui, -apple-system, "Hiragino Sans", "Noto Sans JP", sans-serif;
}